<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Jeopardy</title>

    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="css/global.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark pb-2">
            <a class="navbar-brand" href="home.html">
                <img src="img/logo.png" alt="Jeopardy" width="30px" height="30px" class="ml-5 mr-3">Jeopardy
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0 mt-3">
        <div class="container-fluid w-100 m-0" style="padding-left: 10%; padding-right: 10%;">
            <div>
                <br><br><br><br>
            </div>

            <div style="width: 20%;">
                <strong>Room Code: PL2</strong>
            </div>

            <br>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Vaibhaw</td>
                        <td>Online</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Sooraj</td>
                        <td>Online</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Bishal</td>
                        <td>Online</td>
                    </tr>
                </tbody>
            </table>

            <br>

            <button type="button" class="btn btn-outline-primary mb-4">
                Start
            </button>

            <div class="alert alert-warning" role="alert">
                Player X is starting the game. Wait...
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3 px-5 web-footer">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Jeopardy 2021</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.slim.min.js"><\/script>')</script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>